*
{
	margin:0;
	padding:0;
	font-family:sans-serif;
}
.hero
{
	height:100vh;
	background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.5)),url('pic.jpg');
	background-position: center;
	background-size:cover;
	overflow-x: hidden;
	position:relative;
}
.nav-bar
{

	display:flex;
	padding:40px 120px;
}
.nav-logo img
{
	height: 90px;
	width:100px;
	cursor: pointer;
}
.nav-links
{
	flex: 1;
}
.nav-links ul
{
	margin: 50px;
	display: inline;
}
.nav-links ul li
{
	list-style: none;
	display: inline-block;
	padding:8px 25px;
}

.nav-links ul li::after{
	content: '';
	width:0;
	height:2px;
	background:yellow;
	display:block;
	margin:auto;
	transition: 0.5s;
}

.nav-links ul li:hover::after
{
	width:100%;
}

.nav-links ul a
{
	color:#fff;
	font-size: 20px;
	text-decoration: none;
}
.nav-links ul a:hover
{
	/*padding: 15;
	border-radius: 20px;
	background-color: blue;*/
	color:#4ae31b;
	font-size: 20px;
	text-decoration: none;
}
.btn
{
	padding:10px 20px;
	border-radius:10px;
	background:yellow;
	font-weight: bold;
	font-size:20px;
	color:#fff;
	cursor: pointer;
}
.nav-bar .btn
{
	float:right;
}

.banner-title
{
	margin:80px 130px;
	color:#fff;
	
}
.banner-title h1
{
	/*color:#fff;
	font-weight:bold;
	text-transform: uppercase;
	font-style: italic;
	text-align: center;*/
	margin-bottom:30px;
	font-size:64px;
}
.banner-title h1 span
{
	color:yellow;
}

.vertical-bar
{
	height: 100%;
	background-color: #000;
	top:0;
	left: 0;
	position: absolute;

}

.search-icon
{
	height:60%;
	width: 80px;
}
.search-icon .fa
{
	margin:45px 25px;
	display: block;
	color:#fff;
	font-size: 30px;
	cursor: pointer;
}

.search-icon .fa:hover
{
	color:green;
}

.social-icons
{
	height: 35%;
	width:80px;
	background:yellow;
	text-align: center;
	padding-top: 27%;
	bottom: 0;
	position: absolute;
}


.social-icons .fa
{
	margin: 15px 23px;
	display:block;
	padding: 8px;
	cursor: pointer;
	border:1px solid #000;
	border-radius: 50%;
}

.notifications
{
	display: flex;
	width: 400px;
	right:0;
	
	bottom: 0;
	position: absolute;
	background:yellow;
	align-items: center;
}


.contents
{
	flex-basis: 50%;
	padding: 10px;
}
.notification-img
{
	flex-basis:50%;
}
.notification-img img
{
	width: 100%;
}
.contents a
{
	text-decoration: none;
	color:#000;
	font-size: 13px;
	margin:0 10px;
}

.nav-bar .fa
{
	display: none;
}



/* Making website responsive*/
@media(max-width:700px)
{
	.vertical-bar
	{
		display: none;
	}
	.banner-title
	{
		margin:80px 40px;
	}
	.banner-title h1
	{
		font-size: 50px;
	}
	.notifications
	{
		width: 100%;
	}
	.nav-bar
	{
		padding:10px 30px;
	}

	.fa-bars
	{
		position: absolute;
		right: 20px;
		top:10px;
	}

	.nav-bar .fa
	{
		display: block;
		color:#fff;
		margin: 10px 25px;
		font-size: 22px;
		cursor: pointer;

	}
	.nav-links
	{
		height: 100vh;
		width: 200px;
		background:black;
		top:0;
		right:-200;
		position: absolute;
		text-align: left;
		z-index: 2;
	}
	.nav-links ul a
	{
		display: block;
	}
	.nav-links .btn
	{
		float:none;
		margin-left: 25px;
		margin-top: 10px;
	}

}